html {
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: auto;
    text-align: center;
    background-color: #FFFFFF;
}

#flex {
    width: 100%;
    height: 100%;
}